/* Color Palette */
/* #000000 (Black), #66666E (Grey), #9999A1 (Manatee), #E6E6E9 (Platinum), #F4F4F6 (Off-white) */
.header
{
    text-align: center;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
    color: #dbdad9;
    height: 100%;
}
body
{
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    background:
    linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
    linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #1f1f1f 3px, #1f1f1f 78px, transparent 78px),
    linear-gradient(-90deg, #14110F 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #1f1f1f 3px, #1f1f1f 78px, transparent 78px),
    linear-gradient(#14110F 1px, transparent 1px),
    #221d19;
    background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
}
.navbar
{
    background-color:rgb(22, 22, 22);
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    color: #dbdad9;
    text-decoration: none;
}
.navbar a
{
    color: #dbdad9;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    float:left;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover
{
    font-weight: bold;
    background-color:#292623;
    text-decoration: none;
    color:rgb(192, 192, 192);
}
.navbar a.active
{
    background-color:#34312D;
    color: #dbdad9;
    text-decoration: none;
}
.grid-container 
{
    
    grid-template-columns: auto auto auto;
    background: 
    repeating-radial-gradient(rgb(29, 29, 29) 1%, rgb(31, 31, 31) 1%, rgb(33, 33, 33) 1%, rgb(32, 32, 32) 1%);
    background-position: center;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-content: center;

    text-align: center;
    font-style: normal;
    font-family:Arial, Helvetica, sans-serif;
  }
  .grid-item 
  {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }  
  .NF 
  {
    position:absolute;
    float: left;
    padding: 50px;

    /* Pixel font compatibility*/
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
    font-smooth: auto;
    filter: contrast(1);

    font-family: sans-serif;
    font: helvetica;
    font-weight: bold;
    color: #dbdad9;
    
  }
.box
{
  width: 30%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0A0908;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: #EAE0D5;
  border-bottom-left-radius: 30px; 
  border-top-left-radius: 30px; 
  border-bottom-right-radius: 30px; 
  border-top-right-radius: 30px; 
  text-decoration: none;
}
.box h1 
{
  color: #EAE0D5;
  text-transform: uppercase;
  
  font-weight: 500px;
}
.box input[type = "password"]
{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #131c20;
  padding: 14px 10px;
  width: 80%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.35s;
}
.box input[type = "text"]
{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #131c20;
  padding: 14px 10px;
  width: 80%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.35s;
}
.box input[type = "text"]:hover
{
 background: #22333B;
}
.box input[type = "password"]:hover
{
 background: #22333B;
}
.box input[type = "submit"]
{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #04724D;
  padding: 14px 40px;
  width: 60%;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.35s;
  cursor: pointer;
}
.box input[type = "submit"]:hover
{
 background: #3D7068;
}